* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}

h2 {
	margin-bottom: .5rem;
    font-family: monospace;
}

main {
	border: 1px solid #bbb;
	padding: 2rem;
	background-color: #bed;
	box-shadow: 0 0 20px rgba(0,0,0,.1);
}

span {
	font-weight: 700;
    font-family: monospace;
}