* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: grey;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 10px 0.5% 10px 0.5%;

}

.link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 45px;
    margin-left: 45px;
}

p {
    font-family: 'Roboto', sans-serif;
}

.headings {
    display: flex;
    flex-direction: column;
    margin-left: .5rem;
}

.headings h1 {
    font-size: 1.5rem;
    margin: 0;
}

.m {
    letter-spacing: 1pt;
    font-size: 0.8rem;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.logo img {
    width: 80px;
    height: auto;
    border-radius: 50%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

#hamburger-button {
    display: none;
}

a {
    text-decoration: none;
}

nav ul li a:hover {
    color: red;
}

.social img {
    width: 35px;
    border-radius: 50%;
}


.date {
    background-color: grey;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid;
}

footer {
    background-color: grey;
    padding: 10px 0.5% 10px 0.5%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.footerInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 45px;
    margin-left: 45px;
}

.student {
    padding: 10px 10% 10px 10%;
    text-align: center;
}

.contact p {
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(13, 1fr); */
}

main section {
    background-color: #575757;
    margin: 10px;
    border: solid 1px gray;
}

main section p {
    padding: 5%;
    color: black;
    font-size: 1.5rem;
}

.event{
    grid-column: 1/1;
    grid-row: 1/2;
}

.weather{
    grid-column: 1/1;
    grid-row: 2/3;
}

.join{
    grid-column: 1/1;
    grid-row: 3/4;
}

.hero{
    grid-column: 2/5;
    grid-row: 1/3;
}

.new{
    grid-column: 2/5;
    grid-row: 3/4;
}

.spotLight{
    display: grid;
    grid-template-columns: 1fr;
    grid-row: repeat(5, 1fr);
}