@media only screen and (max-width: 950px) {

    header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: black;
    }

    #date2 {
        font-size: 10px;
    }

    .headings h1 {
        font-size: 18px;
    }

    .link {
        margin: 0;
    }

    .logo {
        margin-left: 0;
    }

    .logo img {
        width: 80px;
        height: auto;
        border-radius: 50%;
    }

    nav ul {
        text-align: center;
        display: flex;
        flex-direction: column;
        text-decoration: none;
    }

    li {
        padding: 5px;
    }

    nav ul li {
        padding: 20px 30px;
    }

    nav a {
        font-size: 18px;
    }

    nav ul {
        margin: 0 auto;
    }

    nav ul {
        display: none;
    }

    nav ul.open {
        display: grid;
    }

    footer p {
        text-align: center;
        font-size: 10px;
    }

    footer h1 {
        text-align: center;
    }

    #hamburger-button {
        display: grid;
        background: transparent;
        border: none;
        font-size: 2rem;
        margin: 0;
    }

    main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 300px;
        gap: 9px;
        margin: 15px;
    }

    main section p {
        padding: 5% 0 5% 10%;
    }

    .join {
        grid-column: 1/4;
        grid-row: 4/5;
    }

    .event {
        grid-column: 1/3;
        grid-row: 5/6;
    }

    .weather {
        grid-column: 3/3;
        grid-row: 5/6;
    }

    .hero {
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .btnHero {
        width: 30%;
    }

    .new {
        grid-column: 1/4;
        grid-row: 2/3;
    }

    .spotlight {
        grid-column: 1/4;
        grid-row: 3/4;
        margin: 0px;
    }

    .testao{
        display: flex;
        align-items: center;
        border: none;
        flex-wrap: wrap;
    }

    .teste1 {
        margin-bottom: 5%;

    }

    .teste3 {
        display: none;
    }

    .btn {
        border: 0;
        padding: 10px;
        width: 95%;
        display: inline-block;
        margin-top: 10%;
        margin-bottom: 10px;
        cursor: pointer;
        border-radius: 10px;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
    }

    .hero img {
        width: 100%;
    }

    .info {
        padding: 2em 1em 2em 1em;

    }

    .info h2 {
        font-size: 18px;
    }

    .info h3 {
        font-size: 15px;
    }

}

@media(min-width:950px) {
    .aparecendo {
        display: none;
    }
}