@media only screen and (max-width: 710px){
    .link {
        display: flex;
        margin: 0;
    }
    
    p{
        font-family: 'Roboto', sans-serif;
    }
    .logo{
        margin: 0;
    }
    .logo img {
        width: 50px;
        height: auto;
        border-radius: 50%;
    }

    .headings {
        display: flex;
        flex-direction: column;
    }
    
    .headings h1 {
        font-size: 15px;
    }

    footer .logo{
        display: block;
    }
    
    .footerInfo {
        display: block;
        align-items: center;
        text-align: center;
        margin: 0px;
    }

    .student{
        display: block;
        margin: 0 20% 0 20%;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .join {
        display: none;
    }

    .event {
        grid-column: 1/4;
        grid-row: 2/2;
    }

    .weather {
        grid-column: 1/4;
        grid-row: 3/3;
    }

    .hero {
        grid-column: 1/4;
        grid-row: 1/1;
    }

    .new {
        grid-row: 4/4;
    }

    .spotlight p {
        border: solid 1px red;
        height: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .spotlight {
        grid-column: 1/4;
        grid-row: 5/5;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .teste1 {
        grid-column: 1/4;
        grid-row: 1/1;
        margin: 0%;
    }

    .teste2 {
        grid-column: 1/4;
        grid-row: 2/2;
    }

    .teste3 {
        display: none;
    }
}