@media only screen and (max-width: 710px) {
    body {
        margin: 0;
    }

    header {
        display: flex;
        border-radius: 0px;
    }

    header h2 {
        margin: auto;
        font-size: 1.8em;
    }

    main ul {
        margin: 10px;
        line-height: 2em;

    }

    ul {
        list-style: none;
    }

    main h1 {
        font-size: 2em;
    }

    footer {
        border-radius: 0px;
    }

    footer h3 {
        font-size: 1.4em;
    }
}